table{background-color:#496B4D;}
h1{font-family:Cambria;font-size:30pt;color:#ffffff;text-aling:right;font-style:italic;}
p{font-size:15pt;color:#000000;}
h2{font-size:25pt;color:#385D1B;font-family:Georgia;text-aling:right;}
h3{font-size:20pt;color:#385D1B;font-family:Georgia;text-aling:right;}
body{background-color:#EBDED4;}